PORT=10009

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=auth_service
DB_PASSWORD=postgres
DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB_NUMBER=0

SUPER_ADMIN_ROLE=admin
SUPER_ADMIN_LOGIN=admin
SUPER_ADMIN_PASSWORD=admin

DEFAULT_PASSWORD=1

JWT_SECRET=secret
