*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Geist', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #09090b;
    background: #fff;
    letter-spacing: 0;
    line-height: 24px;
    height: 100%;
    scrollbar-width: none;
    /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

#root {
    min-height: 100%;
}

button {
    border: none;
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}

.container {
    max-width: 1728px;
    margin: 0 auto;
    background-color: #ffffff;
    padding-top: 80px;
}